@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,700&display=swap');
:root {
    --whiteColor: #fff;
    --blackColor: #000;
    --blackBorderColor: #4d4d4d;
    --blackHoverColor: 	rgb(0, 0, 0, .4);
    --greyColor: #ccc;
    --greyBorderColor: #acacac;
    --blueColor: rgb(0, 86, 199);
    --blueBorderColor: rgb(24, 111, 151);
    --blueHoverColor: rgb(24, 111, 151, .4);
    --redColor: rgb(208, 2, 27);
    --redBorderColor: rgb(172, 3, 23);
    --redHoverColor: rgb(172, 3, 23, .7);
    --greenColor: #29b416;
    --greenBorderColor: rgb(41, 141, 11);
    --greenHoverColor: 	rgb(41, 141, 11, .4);
    --orangeColor: 	rgb(233, 135, 6);
    --orangeBorderColor: rgb(246, 145, 16);
    --orangeHoverColor:	rgb(246, 145, 16, .4);
    --pinkColor: rgb(255, 97, 231);
    --pinkBorderColor: rgb(255, 46, 223);
    --pinkHoverColor: rgb(255, 46, 223, .4);
    --purpleColor: rgb(150, 51, 184);
    --purpleBorderColor: rgb(186, 78, 222);
    --purpleHoverColor:	rgb(186, 78, 222, .4);
    --lbrownColor: rgb(229, 170, 112);
    --lbrownBorderColor: rgb(168, 125, 83);
    --lbrownHoverColor: rgb(229, 170, 112, .4);
    --outlineColor: #ffffff;
    --outlineBorderColor: #4d4d4d;
    --lightBGColor: rgb(233, 226, 216);
    --bgColor: rgb(223,212,195);
    --mdbgColor: rgb(199, 166, 118);
    --dkbgColor: rgb(156, 109, 39);
    --primaryFontColor: rgb(0, 0, 0);
    --primaryBorderColor: #ccc;
    --navBGColor: rgb(28, 98, 189);
    --navBGColorBlur: rgb(28, 98, 189, 0.8);
    --navBorderColor: rgb(109, 164, 236);
    --hoverBGColor: rgb(109, 164, 236, .4);
}
body {
    margin: 0px;
    color: var(--primaryFontColor);
    box-sizing: border-box;
    background-color: var(--whiteColor);    
    font-family: Roboto, Georgia, 'Times New Roman', Times, serif;
}
.header {
    height: 100vh;
    width: 100vw;
    transition: all 0.9s ease;
}
.app {
    background-color: rgb(255, 255, 255);
    background-image: url('../img/header_bg4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

@-webkit-keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-moz-keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-o-keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
.navbar {
    display: flex;
    justify-content: space-evenly;
    /* background-color: var(--navBGColor); */
    /* border: 1px solid var(--navBorderColor); */
    /* box-shadow: 2px 2px 2px 2px #888888; */
    width: 100%;
    max-width: 100%;
    height: 58px;    
    padding: 10px 0px;
}
.navbar__left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 15px 5px 5px;
}
.navbar__left--homelink {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 15px 5px 5px;
}
.navbar__right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 15px;
}
li {
    list-style: none;    
}
a {
    color: var(--whiteColor);
    font-weight: 400;
    text-decoration: none;
}
p {
    line-height: 1.5em;
    font-size: 100%;
}
hr {
    border: 1px solid rgb(196, 192, 192, .3) !important;
}
.title {
    font-size: 1.8em;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.subtitle {
    font-size: 100%;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.pointer {
    cursor: pointer;
}  
.menu-item {
    font-size: 1.2em;
}
.menu-items {
    display: flex;
    align-items: center;
}
.menu-items > li {
    padding: 5px 25px;
}
.menu-items > li:hover {
    background-color: var(--redHoverColor) !important;
    border-radius: 3px;
}
.search-input {
    width: 175px;
    padding: 5px;
    border: 1px solid var(--redBorderColor);
    border-radius: 5px;
}
.search-input:hover {
    border: 1px solid var(--redBorderColor);
}
.search-inpt:focus {
    border: 1px solid var(--redBorderColor);
}
.site-logo {
    padding: 5px 15px;
}
.site-title {
    color: var(--whiteColor);
    font-weight: 600;
}
.user-img {
    border: 1px solid var(--primaryBorderColor);
    border-radius: 999px;
    margin-left: 20px;
}
.top-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    height: 30px;
    padding: 5px 50px;
    background-color: var(--lightBGColor);
    /* border: 1px solid rgb(119, 13, 13); */
    font-size: 0.8em;
}
.icons {
    font-size: 1.5em;
}
.social-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.contact-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.header__right {
    position: relative;
    margin: 70px 0px 0px 50px;
    padding: 15px 20px;
    width: 500px;
    height: 300px;
    background-color: rgb(20, 19, 19, 0.5);
    color: var(--whiteColor);
    border: 3px solid rgb(128, 150, 168, 0.2);
    border-radius: 10px;
    outline: 15px dashed rgba(136, 117, 117, 0.2);        
    outline-offset: 0.4em;
    font-size: 1.8em;
}
.features {
    display: flex;
    justify-content: space-between;
}
.features__left {
    flex: .2;
    min-height: 100vh;
    background-color: #eee;
    border: 1px solid #eee;
    color: #000000;
    padding: 10px 15px;
}
.features__right {
    flex: .8;
    padding: 10px 50px;
}
.features * ul {
    line-height: 3.0em;
    cursor: pointer;
    padding: 0px;
}
.features * li:hover {
    color:rgb(9, 145, 187)
}
.features__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
}
.butt-label, .label-label, .typo-label {
    background-color: #eee;
    width: fit-content;
    padding: 0px 7px;
    border-radius: 5px;
    color:rgb(63, 63, 63);
    font-size: 0.8em;
}
@media screen and (max-width: 600px) {
    .features__right {
        padding: 5px 10px;
    }
    .features__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em;
    }    
}
@media screen and (min-width: 600px) {
    .hide-on-desktop {
        display: none;
    }
    .hide-on-mobile1 {
        display: block;
    }
    .hide-on-mobile-flex {
        display: flex;
    }
}
@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 0px;
    }
    .navbar__left {
        justify-content: space-between;
        border: 1px solid var(--navBorderColor);
    }
    .navbar__right {
        justify-content: flex-start;
    }
    .menu-items {
        display: none;
    }
    .menu-items > li {
        display: block;
        padding: 15px 0px;
    }
    .hide-on-mobile {
        display: none;
    }
    .hide-on-mobile-flex {
        display: none;
    }
    .block {
        display: block;
        margin-left: 0px;
        margin-top: 10px;
    }
    .header {
        max-width: 100%;
    }
    .header__right {
        display: flex;
        word-wrap: break-word;
        position: inherit;
        margin: 50px auto;
        width: auto;
        max-width: 75%;
        height: auto;
        font-size: 1.0em;
        border: 10px solid rgb(128, 150, 168, 0.2);
        outline: 10px dashed rgb(107, 153, 212, 0.2);
        outline-offset: 10px;
        padding: 5px;
    }
}
.white {
    color: var(--whiteColor) !important;
}
.hidden {
    display: none;
}
.floating-bottom-right {
    position: fixed;
    right: 5px;
    bottom: 10px;
}
.floating-bottom-left {
    position: fixed;
    left: 5px;
    bottom: 10px;
}
.floating-bottom-right-center {
    position: fixed;
    right: 5px;
    top: 50vh;
}

#search-input {
    width: 0px;
    opacity: 0;
    transition:  width 0.8s, opacity 1s;     
}
#search-input.fade {
    width: 175px;
    opacity: 1;
}

/* HTML elements starts here */

/* Button Styles */
button {
    width: fit-content;
    padding: 6px 12px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 1.4em;
    cursor: pointer;
    margin: 0px;
}
button:hover {
    opacity: 0.6;
}
.butt-black {
    background-color: var(--blackColor);
    color: var(--whiteColor);
    border: 1px solid var(--blackBorderColor);
}
.butt-grey {
    background-color: var(--greyColor);
    color: var(--blackColor);
    border: 1px solid var(--greyBorderColor);
}
.butt-blue {
    background-color: var(--blueColor);
    color: var(--whiteColor);
    border: 1px solid var(--blueBorderColor);
}
.butt-red {
    background-color: var(--redColor);
    color: var(--whiteColor);
    border: 1px solid var(--redBorderColor);
}
.butt-green {
    background-color: var(--greenColor);
    color: var(--whiteColor);
    border: 1px solid var(--greenBorderColor);
}
.butt-orange {
    background-color: var(--orangeColor);
    color: var(--whiteColor);
    border: 1px solid var(--orangeBorderColor);
}
.butt-pink {
    background-color: var(--pinkColor);
    color: var(--whiteColor);
    border: 1px solid var(--pinkBorderColor);
}
.butt-purple {
    background-color: var(--purpleColor);
    color: var(--whiteColor);
    border: 1px solid var(--purpleBorderColor);
}
.butt-lbrown {
    background-color: var(--lbrownColor);
    color: #36301d;
    border: 1px solid var(--lbrownBorderColor);
}
.butt-outline {
    background-color: var(--outlineColor);
    color: var(--blackColor);
    border: 1px solid var(--outlineBorderColor);
}
label {
    width: fit-content;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.4em;
    cursor: pointer;
    margin: 0px;
}
label:hover {
    opacity: 0.6;
}

/* Label Styles */
.label-blue {
    background-color: var(--blueColor);
    color: var(--whiteColor);
    border: 1px solid var(--blueBorderColor);
}
.label-red {
    background-color: var(--redColor);
    color: var(--whiteColor);
    border: 1px solid var(--redBorderColor);
}
.label-green {
    background-color: var(--greenColor);
    color: var(--whiteColor);
    border: 1px solid var(--greenBorderColor);
}
.label-orange {
    background-color: var(--orangeColor);
    color: var(--whiteColor);
    border: 1px solid var(--orangeBorderColor);
}
.label-pink {
    background-color: var(--pinkColor);
    color: var(--whiteColor);
    border: 1px solid var(--pinkBorderColor);
}
.label-purple {
    background-color: var(--purpleColor);
    color: var(--whiteColor);
    border: 1px solid var(--purpleBorderColor);
}
.label-lbrown {
    background-color: var(--lbrownColor);
    color: #36301d;
    border: 1px solid var(--lbrownBorderColor);
}
.label-black {
    background-color: var(--blackColor);
    color: var(--whiteColor);
    border: 1px solid var(--blackBorderColor);
}
.label-outline {
    background-color: var(--outlineColor);
    color: var(--blackColor);
    border: 1px solid var(--outlineBorderColor);
}

/* Pear shaped Label styles */
.label-black-pear {width: fit-content;
    background-color: var(--blackColor);
    color: var(--whiteColor);
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.label-red-pear {width: fit-content;
    background-color: var(--redColor);
    color: var(--whiteColor);
    padding: 10px 15px;
    border: 1px solid rgb(241, 104, 104);
    border-radius: 50%;
}

/* Backgrounds */
.bg-black {
    background-color: var(--blackColor);
}
.bg-blue {
    background-color: var(--blueColor);
}
.bg-red {
    background-color: var(--redColor);
}
.bg-green {
    background-color: var(--greenColor);
}
.bg-orange {
    background-color: var(--orangeColor);
}
.bg-pink {
    background-color: var(--pinkColor);
}
.bg-purple {
    background-color: var(--purpleColor);
}
.bg-lbrown {
    background-color: #ac7103;
}
.bg-grey {
    background-color: var(--greyColor) !important;
}
.bg-dark {
    background-color: var(--blackColor);
}
.bg-site {
    background-color: rgb(0, 40, 170);
    /* background-image: url('../img/radient_backg01.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-pale {
    background-color: #ccc !important;
}

/* Border colors */
.bd-black {
    border: 1px solid var(--blackColor) !important;
}
.bd-blue {
    border: 1px solid var(--blueColor) !important;
}
.bd-red {
    border: 1px solid var(--redColor) !important;
}
.bd-green {
    border: 1px solid var(--greenColor) !important;
}
.bd-orange {
    border: 1px solid var(--orangeColor) !important;
}
.bd-pink {
    border: 1px solid var(--pinkColor) !important;
}
.bd-purple {
    border: 1px solid var(--purpleColor) !important;
}
.bd-lbrown {
    border: 1px solid var(--lbrownColor) !important;
}
.bd-grey {
    border: 1px solid var(--greyColor) !important;
}

/* Typography colors */
.black {
    color: var(--blackColor);
}
.blue {
    color: var(--blueColor);
}
.red {
    color: var(--redColor);
}
.green {
    color: var(--greenColor);
}
.orange {
    color: var(--orangeColor);
}
.pink {
    color: var(--pinkColor);
}
.purple {
    color: var(--purpleColor);
}
.lbrown {
    color: #ac7103;
}

.pages {
    max-width: 90%;
    margin: 5px auto;
}
.boxed-site {
    max-width: 75%;
    margin: 5px auto;
}

/* Styles for contact form */
.contact-input {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    max-width: 100%;
}
.contact-input > * {
    margin-bottom: 10px;
}
.contact-input > input {
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-input > textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
}
@media screen and (max-width: 600px) {
    .contact-input {
        max-width: 90vw;
    }
}

/* Styles for blog page */
.blog__page {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.blog {
    flex: 3;
    display: grid;    
    grid-template-columns: repeat(2, 1fr);  
    grid-template-rows: minmax(0, 400px);  
    column-gap:2em;
    row-gap: none;
}
/* .post {
    padding: 5px 10px;
} */
.post > .title {
    text-align: center;
}
.post > img {
    width: 100%;
    max-width: 100%;
    border: 1px solid rgb(119, 119, 119);
    border-radius: 3px;
}
.contact__page {
    display: flex;
    justify-content: space-between;
}
.contact__box {
    flex: 3;
    display: flex;
}
.contact__box > form {
    width: 95%;
}
@media screen and (max-width: 600px) {
    .contact__page {
        display: flex;
        flex-direction: column;
    }
    .contact__box > form {
        width: 95%;
    }
}
.right__sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgb(112, 112, 112, .3);    
    width: 95%;
    padding: 0px 10px 300px 10px;
    /* background-color: white; */
}
.right__sidebar > hr {
    width: 100%;
}
.right__sidebar > .highlight__rule {
    width: 30%;
    margin: 20px 0px;
    /* border: 1px solid #eee; */
}
.recent__posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0px 10px; */
}
.recent__posts > * {
    width: 100%;
    margin: 3px auto;
    text-align: center;
}
.recent__posts > img {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 3px;
    outline: 5px solid rgba(0, 0, 0, 0.3);
    outline-offset: -8px;
}
@media screen and (max-width: 600px) {
    .blog {
        grid-template-columns: 1fr;
    }
    .post > img {
        max-width: 100%;
    }
    .blog__page {
        flex-direction: column;
    }
}
.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 150px;
    width: 100%;
    padding-bottom: 10px;
    background-color: var(--whiteColor)
}

/* Decorations */
.bold {
    font-weight: bold !important;
}
.center {
    text-align: center;
}
.shadow {
    box-shadow: 2px 2px 2px 2px #888888;
}
.go-left {
    text-align: left;
}
.go-right {
    text-align: right;
}
.center-vw {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-50 {
    width: 50px;
    height: 50px;
}
.box-200 {
    width: 200px;
    height: 200px;
}
.box-300 {
    width: 300px;
    height: 300px;
}
.box-600 {
    width: 600px;
    height: 600px;
}
.circle-50 {
    width: 50px;
    height: 50px;
    border-radius: 999px;
}
.circle-200 {
    width: 200px;
    height: 200px;
    border-radius: 999px;
}
.circle-300 {
    width: 300px;
    height: 300px;
    border-radius: 999px;
}
.circle-600 {
    width: 600px;
    height: 600px;
    border-radius: 999px;
}

/* Text */
.tx-small {
    font-size: 0.8em;
}
.tx-medium {
    font-size: 1.2em;
}
.tx-large {
    font-size: 2.0em;
}
.tx-xlarge {
    font-size: 4.0em;
}